html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* src/App.css salma */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.MuiGrid-item {
  display: flex;
  justify-content: center;
}